rules_version = '2';

// Craft rules based on data in your Firestore database
// allow write: if firestore.get(
//    /databases/(default)/documents/users/$(request.auth.uid)).data.isAdmin;
service firebase.storage {
  match /b/{bucket}/o {
    // Allow read and write access to all users for reports folder
    match /reports/{allPaths=**} {
      allow read, write: if true;
    }
    
    // Allow read and write access to all users for any file
    match /{allPaths=**} {
      allow read, write: if true;
    }
  }
}
